@using GymManager.Models.Enums;
@model List<User>;
@{
    var user = (User)ViewBag.User;
    var isManager = (int)ViewBag.User.RoleId == (int)RolesEnum.Manager;
}
@section CSS{
    <link rel="stylesheet" href="~/css/Admin.css" />
}
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @user.Name @user.Surname
                    </div>
                </div>
                <div class="profile-userbuttons">
                    <button class="btn btn-info btn-sm" onclick="window.location ='@Url.Action("Index","Profile")'">Panel użytkownika</button>
                </div>
                <hr class="profile-split-top" />
                <div class="profile-usermenu">
                    <div class="bg-light border-right" id="sidebar-wrapper">
                        <div class="list-group list-group-flush">
                            <a href="@Url.Action("Index","Admin")" class="list-group-item list-group-item-action">Lista użytkowników</a>
                            @if (isManager)
                            {
                            <a href="@Url.Action("AddUser", "Admin")" class="list-group-item list-group-item-action">Dodaj użytkownika</a>
                            <a href="@Url.Action("Passes", "Admin")" class="list-group-item list-group-item-action">Panel zniżek</a>
                            <a href="@Url.Action("AddArticle", "Admin")" class="list-group-item list-group-item-action">Dodaj artykuł</a>
                            }
                            <a href="@Url.Action("AddDietTP", "Admin")" class="list-group-item list-group-item-action">Dodaj plan treningowy lub dietę</a>
                        </div>
                    </div>
                </div>
                <hr class="profile-split-bottom" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <form action="@Url.Action("AddUserP", "Admin")" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adres email użytkownika:</label>
                        <input type="email" class="form-control" name="email" placeholder="Adres email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Imię</label>
                        <input type="text" class="form-control" name="name" placeholder="Imię klienta">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nazwisko</label>
                        <input type="text" class="form-control" name="surname" placeholder="Nazwisko klienta">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Hasło</label>
                        <input type="text" class="form-control" name="password" placeholder="Hasło którym użytkownik będzie się logować">
                    </div>
                    <div>Rola użytkownika w systemie:</div>
                    <div class="form-check d-inline m-3">
                        <input class="form-check-input" type="radio" name="role" value="@((int)RolesEnum.Logged)" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Zwykły użytkownik
                        </label>
                    </div>
                    <div class="form-check d-inline m-3">
                        <input class="form-check-input" type="radio" name="role" value="@((int)RolesEnum.Service)">
                        <label class="form-check-label" for="exampleRadios2">
                            Obsługa
                        </label>
                    </div>
                    <div class="form-check d-inline m-3">
                        <input class="form-check-input" type="radio" name="role" value="@((int)RolesEnum.Trainer)">
                        <label class="form-check-label" for="exampleRadios2">
                            Trener
                        </label>
                    </div>
                    <div class="form-check d-inline m-3">
                        <input class="form-check-input" type="radio" name="role" value="@((int)RolesEnum.Secretary)">
                        <label class="form-check-label" for="exampleRadios2">
                            Sekretarka
                        </label>
                    </div>
                    <div class="form-check d-inline m-3">
                        <input class="form-check-input" type="radio" name="role" value="@((int)RolesEnum.Manager)">
                        <label class="form-check-label" for="exampleRadios2">
                            Manager
                        </label>
                    </div>
                    @*<div class="form-group row mt-2">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
        </div>*@
                    <div>
                        <button type="submit" class="btn btn-primary mt-2">Dodaj Użytkownika</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>