@using GymManager.Models.Enums;
@model List<User>; 
@{
    var user = (User)ViewBag.User;
    var isManager = (int)ViewBag.User.RoleId == (int)RolesEnum.Manager;
}
@section CSS{
    <link rel="stylesheet" href="~/css/Admin.css" />
    <link rel="stylesheet" href="~/css/Table.css" />
}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @user.Name @user.Surname
                    </div>
                </div>
                <div class="profile-userbuttons">
                    <button class="btn btn-info btn-sm" onclick="window.location ='@Url.Action("Index","Profile")'">Panel użytkownika</button>
                </div>
                <hr class="profile-split-top" />
                <div class="profile-usermenu">
                    <div class="bg-light border-right" id="sidebar-wrapper">
                        <div class="list-group list-group-flush">
                            <a href="@Url.Action("Index","Admin")" class="list-group-item list-group-item-action">Lista użytkowników</a>
                            @if (isManager)
                            {
                            <a href="@Url.Action("AddUser", "Admin")" class="list-group-item list-group-item-action">Dodaj użytkownika</a>
                            <a href="@Url.Action("Passes", "Admin")" class="list-group-item list-group-item-action">Panel zniżek</a>
                            <a href="@Url.Action("AddArticle", "Admin")" class="list-group-item list-group-item-action">Dodaj artykuł</a>}
                            <a href="@Url.Action("AddDietTP", "Admin")" class="list-group-item list-group-item-action">Dodaj plan treningowy lub dietę</a>
                        </div>
                    </div>
                </div>
                <hr class="profile-split-bottom" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <table class="table table-exercises">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">L.P</th>
                            <th scope="col">Imie i nazwisko</th>
                            <th scope="col">Email</th>
                            <th scope="col">Data ważności karnetu</th>
                            @if (isManager)
                            {
                                <th scope="col">Usuwanie użytkownika</th>
                                <th scope="col">Edycja użytkownika</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var lp = i + 1;
                            var element = Model.ElementAt(i);
                        <tr>
                            <th scope="row">@lp</th>
                            <td>@element.Name @element.Surname</td>
                            <td>@element.Email</td>
                            <td>@if (element.GymPass != null) { <text>@element.GymPass?.ToString("dd.MM.yyyy")</text>}else{ <text>brak karnetu</text>}</td>
                            @if (isManager)
                            {
                                <td>
                                    <form method="post" asp-action="DeleteUser" asp-controller="Admin">
                                        <button class="btn btn-danger" name="userId" value="@element.UserId">Usuń</button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btn-info" name="userId" value="@element.UserId" onclick="window.location.href = '@Url.Action("EditUser","Admin", new { userId= element.UserId })'">Edytuj</button>
                                </td>
                            }
                        </tr>

                        }
                    </tbody>
                </table>
                <form method="post" asp-action="Search" asp-controller="Admin">
                    <input type="text" placeholder="Wpisz nazwisko, imię lub email" name="text">
                    <input type="text" name="action" value="Index" style="display: none;">
                    <button type="submit">Szukaj</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>